.title {
  width: 311px;
  height: 22px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: -0.4px;
  text-align: center;
  color: #273951;
  margin: auto;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  min-width: 220px;
}

.background {
  width: 355px;
  height: 278px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  
}

.backgroundrecipe {
  width: 355px;
  height: 325px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  
}

.pic {
  width: 355px;
  height: 230px;
}

.details{
  margin: auto;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

a {
   text-decoration:none;
}

.header{
  font-family: 'Roboto', sans-serif;
  position: fixed;
    left: 0;
    top: 0;
    height: 15;
    width: 100%;
    padding-top: 30px;
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

.recipename {
  width: 340px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #3b4859;
  font-weight: bold;
  text-align: center
}

.recipetime {
  width: 340px;
  height: 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  color: #3b4859;
  text-align: center
}

.center {
  margin: auto;
  width: 99%;
  /*border: 1px solid #73AD21;*/
  padding: 0px;
  margin-top: 150px;
}

.centerRecipe {
  margin: auto;
  width: 99%;
  /*border: 1px solid #73AD21;*/
  padding: 0px;
}

/*.centerdiv {
  position: relative;
  margin: auto;
  min-width: 220px;
}*/

.centerdiv {
  margin: auto;
  width: 80%;
}

.footer{
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: #E89397;
  color: white;
  text-align: center;
}

.footerbtn{
  margin: auto;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: none;
}


html, body {
  height: 100%;
}
